@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    height: 100%;
}

body {
    align-items: center;
    background-color: #EEF9BF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.back-side {
    transform: rotateY(180deg);
}
.card-box {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: center;
    margin-bottom: 65px;
    perspective: 1000px;
    transform-style: preserve-3d ;
    transition: transform 1s;
    width: 150px;
}
.card-box img {
    height: 100px;
    width: 100px;
}
.flip {
    transform: rotateY(180deg);
}
.front-side, .back-side {
    align-items: center;
    backface-visibility: hidden;
    background-color: #A7E9AF ;
    border-radius:5px ;
    box-shadow: 1px 1px 1px 1px #99CEA8;
    display: flex;
    height: 150px;
    justify-content: center;
    position: absolute;
    width: 120px;
}
.hidden {
    display: none;
}
.initial-header {
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: bold;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 40px;
    text-align: center;
}
.inner-box{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    padding-top: 20px;
    position: relative;
}
.main-box {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    max-width: 60vw;
    min-height: 100%;
    position: relative;
}
@media (max-width:767px){
    .initial-header{
        font-size: 36px;
        font-style: bold;
        font-weight: 700;
        line-height: 42px;
        text-align: center;
    }
    .main-box .inner-box{
        flex-direction: column;
        height: fit-content;
    }
}